[Auth Config Section]
user = EQARCL090
domain = BULLTICK
password = sbstrading
#server = CHIXAPI.TALTRADE.COM
server = NJXAPI.TALTRADE.COM
locale = Americas East
port = 9000
#certFilePath = E:\\tradelink\\realtick\\src\\main\\resources\\roots.pem
certFilePath = D:\\TradeLink\\realtick\\src\\main\\resources\\roots.pem
ssl = true
keepAliveTime = 300000
keepAliveTimeout = 30000
maxRetryCount = 3
retryDelayMS = 2000





